extends ../layouts/design
block content
	#content
		#content-header
			#breadcrumb
				a.tip-bottom(href="/admin", title='Go to Home')
					i.icon-home
					|  Home
		div(style = "margin-left: 50px")
			h1(style = "margin-bottom:50px;color:blue") #{user.name} profile
			p
				h2 Name :
				span(style = "font-size:35px;font-weight:bold;margin-left:150px") #{user.name}
				br
				h2 Age :
				span(style = "font-size:35px;font-weight:bold;margin-left:150px") #{user.age}
				br
				h2 Email :
				span(style = "font-size:35px;font-weight:bold;margin-left:150px") #{user.email}
				br
				h2 Avatar 
				img(src= "/"+user.avatar)
			